---
---
<div class="FooterContainer">
    <p>Copyright all rights reserved @Islitzer</p>
</div>


<style>
    .FooterContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3f3f3f;
        color: #3f3f3f;
        padding: 20px;
        height: 150px;
        min-height: 100px; 
        margin-top: 20px;

        width: 100%;
    }

    p{ 
        color: white;
    }
</style>