---

const { pageTitle } = Astro.props;

---

<div class="headerContainer">
<h1>{pageTitle}</h1>
    

</div>


<style>


    .headerContainer {
        background-color: #3f3f3f;
        padding: 20px;
        margin-bottom: 40px;
    }

    
</style>