---

const { pageTitle } = Astro.props;

---

<div class="headerContainer">

<h1>{pageTitle}</h1>

<div class = "linkContainer">
    <a href="/">About</a>
    <a href="../projectdisplay">Projects</a>
    <a href="../contact">Contact</a>
</div>

    

</div>


<style>


    .headerContainer {
        display: flex;
        align-items: center;
        background-color: #3f3f3f;
        padding: 20px;
        justify-content: space-between;
    }

    a {
        color: #fff;
        font-weight: bold;
        font-size: 2em;
        margin: 10px;
    }
    
    h1{
        color: #ffffff;
    }

    .linkContainer{

    }
    
</style>